---

demosites:
  hosts:
    sanfrancisco:
      ansible_host: 104.236.149.236
    toronto:
      ansible_host: 159.203.30.96
    newyork:
      ansible_host: 162.243.236.205
    bangalore:
      ansible_host: 139.59.0.212
    singapore:
      ansible_host: 128.199.80.131
    frankfurt:
      ansible_host: 46.101.193.115
    london:
      ansible_host: 138.68.182.52
      mta: postfix
      dns: bind
  vars:
    ansible_user: root
    ansible_port: 2222
    mta: exim
    dns: unbound
